.main {
  max-width: 900px;
  margin: 84px auto 72px;
  padding: 0 24px;
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 24px;
}

.delivery-date {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.product-info {
  margin-bottom: 6px;
}

.product-image {
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 36px;
}

.progress-labels-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
  gap: 12px;
}

.current-status {
  color: rgb(6, 125, 98);
}

.progress-bar-container {
  height: 20px;
  width: 100%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 50px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: green;
  border-radius: 50px;
  width: 50%;
}

@media (max-width: 700px) {
  .main {
    margin-top: 76px;
    padding: 0 14px;
  }

  .delivery-date {
    font-size: 20px;
  }

  .progress-labels-container {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .product-image {
    max-width: 130px;
    max-height: 130px;
    margin-bottom: 24px;
  }

  .progress-labels-container {
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
  }

  .progress-bar-container {
    height: 16px;
  }
}
